<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kanon's Memo</title>
		<link rel="icon" href="/images/black-cat.png">
		<link rel="stylesheet" href="/css/style.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	</head>
<body>
	<%- include('header'); %>
	<main>
		<div class="new-container">
			<form action="/update/<%=memo.id%>" method="post" class="submit">
				<div class="memo-wrapper">
					<input value="<%= memo.title %>" class="title-area input" name="memoTitle" type="text" placeholder="Title">
					<input type="text" name="dummy" style="display: none;">
					<textarea  class="content-area input" name="memoContent" placeholder="Text"><%= memo.content %></textarea>
				</div>
				<div class="menu-wrapper">
					<input type="button" onclick="submit();" class="save-button" value="Save">
					<a href="/index" class="cancel-button">Cancel</a>
				</div>
			</form>
		</div>
	</main>
	<script>
		$(function($) {
			$('.input').keydown(function(e) {
				if(event.ctrlKey) {
					$('.submit').submit();
					return false;
					if (e.keyCode === 13 && $(this).val()) {
					}
				}
			});
		});
	</script>
</body>
</html>

