<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kanon's Room</title>
</head>
<body>
	<div class="sign">
		<div class="sign-container">
			<h1><a href="/index">Kanon's Memo</a></h1>
			<div class="panel">
				<h2>Login to Kanon's Memo</h2>
				<form action="/login" method="post">
					<p>Email Address</p>
					<input type="text" name="email" id="">
					<p>Password</p>
					<input type="password" name="" id="password">
					<input type="submit" value="Login">
					<a href="/list">Back</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
